/* ===============================================================
   Grid CSS
   =========================================================
   This file contains the CSS styles for the grid layout.
   It defines the grid structure, item placement, and responsiveness.
   ========================================================= */
.thumbgrid {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: auto;
  }   