/* ============================================= */
/* Base Styles */
/* Created by: J.Phillipe Nelson */
/* ============================================= */
body {
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
}

